<mat-dialog-content *ngIf="!deletedGame && !isWaiting">
    <div class="info">
        <div class="title">
            <mat-spinner color="accent" [diameter]="spinnerDiameter" [strokeWidth]="spinnerStrokeWidth"></mat-spinner>
            <h3>En attente d'autres joueurs</h3>
            <div *ngIf="isGameOwner()">
                <button mat-icon-button (click)="invitePlayers()">
                    <mat-icon>person_add</mat-icon>
                </button>
            </div>
            <div *ngIf="!isGameOwner()"></div>
        </div>
        <p>Id de la partie: {{ pendingGameId }}</p>
    </div>
    <div class="players">
        <h4>Joueurs dans la partie:</h4>
        <div *ngFor="let name of players" [ngClass]="isThatPlayerHost(name) ? 'host' : 'player'">
            <app-avatar [src]="getAvatarIcon(name)" [size]="30"></app-avatar>
            <p>{{ name }}</p>
            <mat-icon color="accent" *ngIf="isThatPlayerHost(name)">star</mat-icon>
            <button mat-icon-button (click)="kickPlayer(name)" *ngIf="isHost(name)">
                <mat-icon color="primary">close</mat-icon>
            </button>
        </div>
    </div>
    <div class="probation" *ngIf="isPrivateGame && isGameOwner()">
        <h4>Joueurs en attente d'approbation:</h4>
        <div class="player-container">
            <div class="player" *ngFor="let name of tmpPlayers">
                <app-avatar [src]="getAvatarIcon(name)" [size]="30"></app-avatar>
                <p>{{ name }}</p>
                <button mat-icon-button (click)="acceptPlayer(name)" *ngIf="isHost(name)">
                    <mat-icon color="primary">check</mat-icon>
                </button>
                <button mat-icon-button (click)="refusePlayer(name)" *ngIf="isHost(name)">
                    <mat-icon color="primary">close</mat-icon>
                </button>
            </div>
            <div class="player" *ngFor="let name of tmpPlayers">
                <app-avatar [src]="getAvatarIcon(name)" [size]="30"></app-avatar>
                <p>{{ name }}</p>
                <button mat-icon-button (click)="acceptPlayer(name)" *ngIf="isHost(name)">
                    <mat-icon color="primary">check</mat-icon>
                </button>
                <button mat-icon-button (click)="refusePlayer(name)" *ngIf="isHost(name)">
                    <mat-icon color="primary">close</mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-content *ngIf="isWaiting">
    <div class="messages">
        <h4>En attente de la réponse de l'hôte</h4>
        <mat-spinner color="accent" [diameter]="spinnerDiameter" [strokeWidth]="spinnerStrokeWidth"></mat-spinner>
    </div>
</mat-dialog-content>

<mat-dialog-content *ngIf="deletedGame">
    <div class="messages">
        <h4>L'hôte a annulé la partie</h4>
    </div>
</mat-dialog-content>

<ng-template [ngIf]="!deletedGame" [ngIfElse]="OkButton">
    <mat-dialog-actions>
        <button mat-button color="accent" [mat-dialog-close] (click)="cancel()">Annuler</button>
        <button *ngIf="!isWaiting" mat-raised-button color="primary" [disabled]="!canLaunchGame" (click)="launchGame()">Démarrer la partie</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #OkButton>
    <button mat-raised-button color="primary" [mat-dialog-close]>Ok</button>
</ng-template>
