<mat-dialog-content #waitingForPlayer *ngIf="!isSoloStarted && !deletedGame && !kickedFromGame && !isWaiting">
    <div class="title">
        <div>
            <h3>En attente d'autres joueurs</h3>
            <p>Id de la partie: {{ pendingGameId$ | async }}</p>
        </div>
        <mat-spinner color="accent" [diameter]="spinnerDiameter" [strokeWidth]="spinnerStrokeWidth"></mat-spinner>
    </div>
    <div class="players">
        <div>Joueurs dans la partie:</div>
        <div class="player" *ngFor="let name of players">
            <div class="player-name">
                {{ name }}
                <mat-icon color="primary" *ngIf="isThatPlayerHost(name)">star</mat-icon>
                <button class="menuButton" (click)="kickPlayer(name)" *ngIf="isHost(name)">
                    <mat-icon color="primary">close</mat-icon>
                </button>
            </div>
        </div>
        <br />
        <br />
        <div>Joueurs en attentes d'approbation:</div>
        <div class="player" *ngFor="let name of tmpPlayers">
            <div class="player-name">
                {{ name }}
                <button class="menuButton" (click)="acceptPlayer(name)" *ngIf="isHost(name)">
                    <mat-icon color="primary">check</mat-icon>
                </button>
                <button class="menuButton" (click)="refusePlayer(name)" *ngIf="isHost(name)">
                    <mat-icon color="primary">close</mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-content #waitingForPlayer *ngIf="isWaiting">
    En attente de la réponse de l'hôte
    <mat-spinner color="accent" [diameter]="spinnerDiameter" [strokeWidth]="spinnerStrokeWidth"></mat-spinner>
</mat-dialog-content>

<mat-dialog-content #waitingForPlayer *ngIf="deletedGame"> L'hôte a annulé la partie </mat-dialog-content>

<mat-dialog-content #waitingForPlayer *ngIf="kickedFromGame"> L'hôte vous à retirer de la partie </mat-dialog-content>

<mat-dialog-actions>
    <button mat-button color="accent" [mat-dialog-close] (click)="cancel()">Annuler</button>
    <button mat-raised-button color="primary" [disabled]="!canLaunchGame" (click)="launchGame()">Démarrer la partie</button>
</mat-dialog-actions>

<!-- <div *ngFor="let name of players">
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.playerId }} </mat-cell>
    <li>
        {{ name }}

            <div (click)="kickPlayer(element)" *ngIf="isHost()">
                <button mat-button>
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </td>
    </li>
</div> -->
<!-- <div *ngFor="let name of players">
    <li>
        {{ name }}
        <div (click)="fct()" *ngIf="element.canEdit">
            <button mat-button>
                <mat-icon>check</mat-icon>
            </button>
        </div>
        <div (click)="fct()" *ngIf="isHost">
            <button mat-button>
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </li>
</div> -->
