.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menuButton {
    // background-color: transparent;
    // outline-color: transparent;
}

#difficulty {
    display: none;
}
