.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

mat-dialog-content {
    min-width: fit-content;
    min-height: fit-content;
}

.content {
    min-width: 400px;
    min-height: 275px;
}

.host-private {
    min-width: 400px;
    min-height: 390px;
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    > h4 {
        padding: 50px;
        padding-top: 25px;
    }
}

.players > .player-container {
    flex-wrap: wrap;
    min-height: 120px;
}

.probation > .player-container {
    height: 90px;
    overflow-y: auto;
}

h4 {
    margin: 0;
}

.player,
.host {
    flex: 0 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    p {
        font-size: x-large;
        padding-right: 10%;
        margin-bottom: 0%;
    }
    mat-icon {
        font-size: 24px;
    }
}

.host {
    width: 30%;
}

app-avatar {
    padding-right: 15px;
    padding-top: 8px;
}
