@use '~@angular/material' as mat;
@import '~@angular/material/theming';
@import 'themes/light-theme';
@import 'themes/dark-theme';
@include mat.core();

//     stylesheet           Theme          P               A         W
// deeppurple-amber.css 	Light   	deep-purple,    amber,      red
// indigo-pink.css 	        Light 	    indigo,         pink,       red
// pink-bluegrey.css 	    Dark 	    pink,           bluegrey,   red
// purple-green.css 	    Dark 	    purple,         green,      red

:root {
    --LightTileBackgroundColor: rgba(215, 192, 150, 255);
    --LightTransientTileBackgroundColor: rgba(240, 232, 216, 255);
    --LightTileGrayedOutBackgroundColor: rgba(98, 83, 80);
    --LightAcceptedColor: rgba(32, 176, 0); // Triadic color related to #b00020
    --LightCardHolder: rgba(139, 139, 139, 255);
    --LightActiveCard: rgba(89, 217, 255, 255);
    --LightLink: blue;
    --LightUserStatus: rgb(5, 107, 250);

    --DarkTileBackgroundColor: rgba(70, 15, 7, 255);
    --DarkTransientTileBackgroundColor: rgba(93, 45, 38, 255);
    --DarkTileGrayedOutBackgroundColor: rgba(35, 7, 3);
    --DarkAcceptedColor: rgba(121, 207, 102); // Triadic color related to #cf6679
    --DarkCardHolder: rgba(97, 97, 97, 255);
    --DarkActiveCard: rgba(0, 76, 136, 255);
    --DarkLink: cyan;
    --DarkUserStatus: rgb(5, 250, 46);

    --MessageHeader: gray;
    --LetterRackBackround: rgb(47, 37, 51);
    --LetterRackBorder: rgb(37, 37, 37);

    --Black: black;
    --White: white;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background: #20262c;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

mat-card {
    opacity: 0.95;
}

h1 {
    @extend .disable-select;
    display: flex;
    justify-content: center;
    margin-bottom: 0px !important;
}

h2 {
    @extend .disable-select;
    margin-bottom: 0px !important;
    display: flex;
    justify-content: center;
}

// Font
@font-face {
    font-family: overpass;
    src: url('https://fonts.googleapis.com/css2?family=Overpass&display=swap') format('opentype');
}

body,
html {
    height: 100%;
    margin: 0;
}
