.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.8fr 1fr 1fr 0.8fr;
    grid-template-rows: 0.25fr 1.5fr 1.75fr 0.5fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
        'Img Img Img Img'
        'Player Board Board Other'
        'Player Board Board Info'
        'Actions MagicCards MagicCards Info'
        'Quitter Horse Horse Chat';
}

img {
    grid-area: Img;
}

button {
    padding: 2%;
}

app-info-box {
    grid-area: Info;
    padding: 1%;
    padding-right: 2%;
}

app-board {
    grid-area: Board;
    height: fit-content;
    min-width: 60vw;
}

app-horse {
    grid-area: Horse;
    align-self: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

app-player-info {
    grid-area: Player;
    padding: 1%;
    padding-left: 2%;
}

.actions {
    grid-area: Actions;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin: 5%;

    > div {
        display: flex;
        padding: 1%;
        width: 100%;
    }
}

app-game-action-button {
    display: flex;
    padding: 1%;
    width: 100%;
    height: fit-content;
}

app-magic-card-list {
    grid-area: MagicCards;
    display: flex;
    justify-content: center;
    align-self: center;
    display: flex;
    flex: 1;
}

button:disabled {
    cursor: not-allowed;
}

.abandonner {
    grid-area: Quitter;
    display: flex;
    align-items: center;
    margin: 0 5%;
}

mat-sidenav {
    width: 24vw;
    height: 100%;
}

.mat-sidenav-container {
    height: 100vh;
    background: url('^assets/img/game-bg.jpg') no-repeat center top;
    background-size: 100vw 100vh;
}

mat-sidenav-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-open {
    position: absolute;
    padding: 0%;
    left: 70vw;
    top: 90vh;
}

.button-close {
    position: absolute;
    padding: 0%;
    left: 94vw;
    top: 90vh;
}
