<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">
    <mat-sidenav #sidenav mode="over" [opened]="!popOutService.openedInPopOut" position="end">
        <app-chat-box (clickChatbox)="receiveInput($event)"></app-chat-box>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container" appMouseRoll>
            <img src="assets/img/logoWhite.png" width="200" height="50" alt="Logo Scrabble" />
            <app-player-info></app-player-info>
            <app-info-box></app-info-box>
            <ng-template *ngIf="isObserver; then observerView; else playerView"></ng-template>
            <ng-template #observerView>
                <app-board></app-board>
                <app-horse appPreventContextMenu></app-horse>
            </ng-template>
            <ng-template #playerView>
                <app-board (clickTile)="receiveInput($event)"></app-board>
                <app-horse appPreventContextMenu (clickLetter)="receiveInput($event)"></app-horse>
            </ng-template>
            <div class="actions">
                <div *ngIf="!isObserver">
                    <button mat-raised-button color="primary" [disabled]="!canPass" (click)="pass()">Passer</button>
                    <button mat-raised-button color="primary" [disabled]="!canExchange" (click)="confirm()">Échanger</button>
                </div>
                <div *ngIf="!isObserver">
                    <button mat-raised-button color="primary" [disabled]="!canPlace" (click)="confirm()">Placer</button>
                    <button mat-raised-button color="primary" [disabled]="!canCancel" (click)="cancel()">Annuler</button>
                </div>
                <div>
                    <button class="observerButton" *ngIf="isObserver" mat-raised-button color="primary" (click)="previousPlayer()">
                        Joueur précédent
                    </button>
                    <button class="observerButton" *ngIf="isObserver" mat-raised-button color="primary" (click)="nextPlayer()">Joueur suivant</button>
                </div>
            </div>
            <div class="abandonner">
                <button mat-raised-button (click)="abandon()" *ngIf="!isEndOfGame && !isObserver">Abandonner la partie</button>
                <button mat-raised-button (click)="quit()" *ngIf="isEndOfGame || isObserver">Quitter</button>
            </div>
            <button mat-fab color="primary" *ngIf="!popOutService.openedInPopOut" (click)="sidenav.toggle()" [ngClass]="sidenav.opened? 'button-open':'button-close'">
                <mat-icon>chat</mat-icon>
            </button>
        </div>
</mat-sidenav-content>
</mat-sidenav-container>
