<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">
    <mat-sidenav
        #sidenav
        mode="over"
        position="end"
        [opened]="popOutService.isOpenInWindow"
        (opened)="popOutService.setOpen()"
        (closed)="popOutService.setClose()"
    >
        <app-chat-box (clickChatbox)="receiveInput($event)"></app-chat-box>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container" appMouseRoll>
            <img src="assets/img/logoWhite.png" width="200" height="50" alt="Logo Scrabble" />
            <app-player-info></app-player-info>
            <app-info-box></app-info-box>
            <ng-template *ngIf="isObserver; then observerView; else playerView"></ng-template>
            <ng-template #observerView>
                <app-board></app-board>
                <app-horse appPreventContextMenu></app-horse>
            </ng-template>
            <ng-template #playerView>
                <app-board
                    (clickTile)="receiveInput($event)"
                    (moveFeedback)="receiveMoveFeedback($event)"
                    (dropFeedback)="receiveDropFeedback($event)"
                ></app-board>
                <app-horse
                    appPreventContextMenu
                    (clickLetter)="receiveInput($event)"
                    (dropEvent)="receiveDropInput($event)"
                    (moveEvent)="receiveMoveInput($event)"
                ></app-horse>
            </ng-template>
            <div class="actions">
                <ng-template *ngIf="isObserver; then observerActions; else playerActions"></ng-template>
            </div>
            <ng-template #observerActions>
                <app-game-action-button (clickButton)="nextPlayer()" icon="move_down" label="Joueur suivant"></app-game-action-button>
                <app-game-action-button (clickButton)="previousPlayer()" icon="move_up" label="Joueur précédent"></app-game-action-button>
            </ng-template>
            <ng-template #playerActions>
                <div>
                    <app-game-action-button [isDisabled]="!canPass" (clickButton)="pass()" icon="skip_next" label="Passer"></app-game-action-button>
                    <app-game-action-button
                        [isDisabled]="!canExchange"
                        (clickButton)="confirm()"
                        icon="swap_vert"
                        label="Échanger"
                    ></app-game-action-button>
                </div>
                <div>
                    <app-game-action-button
                        [isDisabled]="!canPlace"
                        (clickButton)="confirm()"
                        icon="download"
                        label="Placer"
                    ></app-game-action-button>
                    <app-game-action-button [isDisabled]="!canCancel" (clickButton)="cancel()" icon="block" label="Annuler"></app-game-action-button>
                </div>
            </ng-template>
            <app-magic-card-list *ngIf="isMagicGame"></app-magic-card-list>
            <div class="abandonner">
                <app-game-action-button
                    *ngIf="!isEndOfGame && !isObserver"
                    (clickButton)="abandon()"
                    icon="logout"
                    label="Abandonner la partie"
                ></app-game-action-button>
                <app-game-action-button
                    *ngIf="isEndOfGame || isObserver"
                    (clickButton)="quit()"
                    icon="logout"
                    label="Quitter"
                ></app-game-action-button>
            </div>
            <button
                mat-fab
                color="primary"
                *ngIf="!popOutService.isPopOut"
                (click)="sidenav.toggle()"
                [ngClass]="sidenav.opened ? 'button-open' : 'button-close'"
            >
                <mat-icon>chat</mat-icon>
            </button>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
