.container {
    width: 100vw;
    height: 100vh;
    background: url('^assets/img/home-bg.jpg') no-repeat center top;
    background-size: 100vw 100vh;
}

.chat-box-container {
    width: 90vw;
    height: 85vh;
}
