mat-card {
    width: 30vw;
    margin-top: 5%;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

mat-sidenav-content {
    height: 100vh;
    background: url('^assets/img/classic-bg.jpg') no-repeat center top;
    background-size: 100vw 100vh;
}

.container {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 30vh;
    margin-top: 10vh;
    > h4 {
        padding: 50px;
        padding-top: 25px;
    }
}

.players {
    padding-bottom: 5%;
}

.probation > .player-container {
    height: 20vh;
    overflow-y: auto;
}

h4 {
    margin: 0;
    margin-top: 5%;
}

.player,
.host {
    flex: 0 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    p {
        font-size: large;
        padding-right: 10%;
        margin-bottom: 0%;
    }
    mat-icon {
        font-size: 24px;
    }
}

.host {
    width: 30%;
}

app-avatar {
    padding-right: 15px;
    padding-top: 8px;
}

.chat-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0.5%;
}

.button-open {
    margin-right: 32%;
}

.button-close {
    margin-right: 1%;
}

mat-sidenav {
    width: 30vw;
    height: 100%;
}
