<app-header-bar></app-header-bar>
<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">
    <mat-sidenav #sidenav mode="over" [opened]="!popOutService.openedInPopOut" position="end">
        <app-chat-box></app-chat-box>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="justified">
            <mat-card matRipple [matRippleDisabled]="true">
                <mat-card-title class="disable-selection">Nouvelle partie</mat-card-title>
                <div class="game-mode-selection">
                    <h2 class="game-mode-title">Mode de jeu : {{ isMagicGame ? 'Carte de pouvoir' : 'Classique' }}</h2>
                    <mat-slide-toggle [(ngModel)]="isMagicGame" (click)="triggerRipple()" color="warn">Changer de mode</mat-slide-toggle>
                </div>
                <button mat-flat-button color="primary" class="selection-button" (click)="openMultiGameForm()">Créer une partie multijoueur</button>
                <button mat-flat-button color="accent" class="selection-button" (click)="openPendingGames()">Joindre une partie multijoueur</button>
            </mat-card>
        </div>
        <div class="chat-button" *ngIf="!popOutService.openedInPopOut">
            <button mat-fab color="primary" (click)="sidenav.toggle()" [ngClass]="sidenav.opened? 'button-open':'button-close'">
                <mat-icon>chat</mat-icon>
            </button>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

