mat-slider {
    width: 3%;
}

canvas {
    width: 70vh;
}

.boardContainer {
    display: flex;
    justify-content: center;
}

.zoomPolice {
    padding-left: 15%;
    // TODO GL3A22107-104
    color: whitesmoke;
}
