<mat-drawer-container>
    <mat-drawer mode="side" opened>
        <div class="user-sidenav"> 
            <app-avatar [src]="user.avatar" [size]="100"></app-avatar>
            <h2>{{user.name}}</h2>
        </div>
        <mat-divider></mat-divider>
        
        <mat-selection-list #pages [multiple]="false" (selectionChange)="updatePage($event)">
			<mat-list-option class="parent" [value]="'profil'">
				<span class="full-width" >Mon profil</span>
				<mat-icon mat-list-icon>person</mat-icon>
            </mat-list-option>
            <mat-list-option class="parent" [value]="'stats'">
				<span class="full-width" >Mes statistiques</span>
				<mat-icon mat-list-icon>analytics</mat-icon>
            </mat-list-option>
        </mat-selection-list>
    </mat-drawer>
    <mat-drawer-content >
    <app-profil *ngIf="showProfil"></app-profil>  
    <app-game-stats-page *ngIf="showStats"></app-game-stats-page>
    </mat-drawer-content>
  </mat-drawer-container>

