.user-sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10% ;
    
    h2{
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

mat-drawer {
    width: 20vw;
    border-right: none;
    padding: 16px;
}

mat-card{
    width: 250px;
    height: 70px;
    margin-bottom: 5%;
        
    mat-card-content {
        padding-left: 30px;
    }
}

mat-drawer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    background: url('^assets/img/classic-bg.jpg') no-repeat center top;
    background-size: 100vw 100vh;
}

app-avatar-list {
    width: 25vw;
}