mat-card {
    margin: 5%;
    max-width: 20vw;
}

.infos {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    p {
        margin: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.name {
    justify-self: center;
    font-size: 130%;
    font-weight: 900;
    padding-right: 5px;
}

.score {
    justify-self: end;
    font-size: 85%;
}

.active {
    box-shadow: 1px 1px 5px 5px white !important;
    background-color: var(--accent);
    color: white !important;
}

.eyeIcon {
    position: relative;
    top: -1.5px;
}

.hidden {
    visibility: hidden;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

app-avatar {
    padding-right: 15px;
}
