<div *ngFor="let player of players; index as i">
    <mat-card id="{{ i }}" [ngClass]="{ active: isActivePlayer(player) }">
        <div class="flex-container">
            <div class="infos">
                <app-avatar [src]="getAvatarIcon(player.name)" [size]="40"></app-avatar>
                <p class="name">
                    {{ player.name }}
                </p>
            </div>
            <mat-icon class="eyeIcon" [ngClass]="isObserver && isWatchedPlayer(player.name) ? 'eyeIcon' : 'hidden'">remove_red_eye</mat-icon>
        </div>
        <mat-divider inset></mat-divider>
        <mat-card-content class="grid-container">
            <span class="score"> {{ player.points }} points </span>
        </mat-card-content>
    </mat-card>
</div>
