mat-card {
    margin: 5%;
}

.playerInfo {
    justify-self: center;
}

.name {
    justify-self: center;
    font-size: 150%;
    font-weight: 900;
    padding-right: 5px;
}

.score {
    justify-self: end;
    font-size: 85%;
}

.active {
    box-shadow: 1px 1px 5px 5px var(--fg) !important;
    background-color: var(--accent);
}

.eyeIcon {
    position: relative;
    top: -1.5px;
}
