<div *ngFor="let player of players; index as i">
    <mat-card class="playerInfo" id="{{ i }}" [ngClass]="{ active: isActivePlayer(player) }">
        <mat-card-header>
            <div class="flex-container">
                <span class="name">
                    {{ player.name }}
                </span>
                <mat-icon class="eyeIcon" *ngIf="isObserver && isWatchedPlayer(player.name)">remove_red_eye</mat-icon>
            </div>
        </mat-card-header>
        <mat-divider inset></mat-divider>
        <mat-card-content class="grid-container">
            <span class="score"> {{ player.points }} points </span><br />
            <span class="score" *ngIf="!player.isLetterRackFull && lettersRemaining === 0">
                {{ player.letterRack.length }} lettres restantes dans le chevalet
            </span>
        </mat-card-content>
    </mat-card>
</div>
