<div class="wrapper">
    <div class="sideNav">
        <button class="button" mat-button (click)="sidenav.toggle()">
            <mat-icon class="icon">message</mat-icon>
        </button>
        <mat-sidenav-container class="chatContainer">
            <mat-sidenav class="chat" #sidenav position="end" mode="side" [(opened)]="opened">
                    <ng-template [cdkPortalOutlet]="chatComponentPortal"></ng-template>
            </mat-sidenav>
        </mat-sidenav-container>
    </div>
</div>