.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url('^assets/img/home-bg.jpg') no-repeat center top;
    background-size: 100vw 100vh;
}

.register-form {
    padding: 20px 22px 11px;
    height: 350px;
    width: 500px;
}

.register-header {
    padding-bottom: 3%;
}

.field-container {
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}
.mat-card-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
    margin-top: 2%;
}

.mat-card-header {
    justify-content: center;
}

.login-link {
    color: var(--link);
}

.mat-card-footer {
    padding-top: 1.5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    color: var(--warn);
    font-size: 10px;
}

app-avatar-list {
    margin-top: 1%;
    width: 10%;
}
