<div class="container">
    <h1 class="primary-color">Historique de jeux</h1>
    <mat-card>
        <h2>Parties jouées</h2>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div class="table-container">
                <table mat-table [dataSource]="gameSource" class="mat-elevation-z8">
                    <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
                        <th mat-header-cell *matHeaderCellDef>
                            {{ column.header }}
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{ column.cell(row) }}
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
                </table>
            </div>
            <mat-paginator (page)="getGamesHistory()" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons> </mat-paginator>
        </mat-card-content>
    </mat-card>
</div>