.container {
    width:80vw;
    height : 100vh;
    padding-left: 5%;
}

h1 {
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: xx-large;
    font-weight: 600;
    justify-content: start;
}

.account {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    margin-right: 8%;
}

mat-card{
    width: 250px;
    height: 70px;
    margin-bottom: 5%;
        
    mat-card-content {
        padding-left: 30px;
    }
}
