.container {
    width: 70vw;
    height: 100vh;
    padding-left: 5%;
}

h1 {
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: xx-large;
    font-weight: 600;
    justify-content: start;
}

.account {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    margin-right: 8%;
}

.progressBar {
    display: flex;
    direction: row;
}

.flexSecondRow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 75%;
}
.center {
    display: flex;
    justify-content: center !important;
}

.noPadding {
    padding-left: 0 !important;
}

mat-card {
    min-width: 250px;
    min-height: 71px;
    margin-bottom: 5%;

    mat-card-content {
        padding-left: 30px;
    }
}
