<div class="container">
    <h1 class="primary-color">Mon Profil</h1>
    <div class="account">
        <div class="user-info">
            <mat-card>
                <mat-card-header>
                    <h2>Pseudonyme</h2>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field color="accent">
                        <input matInput autocomplete="off" [formControl]="name" />
                        <mat-error *ngIf="!isNameValid"> Veuillez saisir un nom valide </mat-error>
                        <mat-error *ngIf="name.hasError('notUnique')"> Un compte utilise déjà ce pseudonyme </mat-error>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <h2>Courriel</h2>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field>
                        <input matInput type="email" [value]="user.email" disabled="true" />
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <h2>Mot de passe</h2>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field>
                        <input matInput autocomplete="off" value="*******" disabled="true" />
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="flexSecondRow">
            <app-avatar-list [hasClear]="true" (srcChange)="setAvatar($event)"></app-avatar-list>
            <br />
            <mat-card>
                <mat-card-header class="center">
                    <h2>Progression</h2>
                </mat-card-header>
                <br />
                <mat-card-content class="noPadding">
                    <div class="center">
                        <h2>Niveau : {{ getCurrentLevel() }}</h2>
                    </div>
                    <div class="center">
                        <h2>Expérience totale : {{ getCurrentExp() }}</h2>
                    </div>
                    <br />
                    <div class="progressBar">
                        <h2>{{ getCurrentLevel() }}</h2>
                        <mat-progress-bar mode="determinate" value="{{ getProgressValue() }}"></mat-progress-bar>
                        <h2>{{ getNextLevel() }}</h2>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <button mat-raised-button (click)="updateAccount()">Sauvegarder</button>
</div>
