<h2>Configuration partie multijoueurs</h2>
<br />
<mat-dialog-content>
    <mat-form-field>
        <mat-label>Adversaires</mat-label>
        <input matInput [disabled]="true" [value]="data.playerNames" />
    </mat-form-field>

    <br />
    <mat-form-field>
        <mat-label #bonus>Bonus aléatoire </mat-label>
        <input matInput [disabled]="true" [value]="randomBonusType" />
    </mat-form-field>

    <br />
    <mat-form-field>
        <mat-label>Temps par tour </mat-label>
        <input matInput [disabled]="true" value="{{ data.timePerTurn | date: 'm:ss' }} min" />
    </mat-form-field>
    <br />
</mat-dialog-content>
<br />
<mat-dialog-actions>
    <button mat-button [mat-dialog-close] (click)="cancel()">Annuler</button>
    <button mat-button color="primary" (click)="sendParameter()">Rejoindre la partie</button>
</mat-dialog-actions>
