.wrapper {
    border-radius: 25px;
    padding: 20px;
    max-width: 42vw;
    position: absolute;
    top: 5%;
    left: 2.5%;
    right: 66%;
}

p {
    font-size: 14px;
}

.definition {
    line-height: 1.5;
}

.wordContainer {
    width: 50%;
    min-height: 50%;
    display: flex;
    justify-content: center;

    margin: 10px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;

    border-radius: 2%;
   
}

.rack {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    column-gap: 2%;
    padding: 2%;
    background-color: var(--LetterRackBackround);
    border: 3px solid var(--LetterRackBorder);
    border-radius: 2%;
    align-items: center;
}




.tile {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: small;
    width: 100%;
    border-radius: 10%;
    color: var(--black);
    background-color: var(--LightTileBackgroundColor);
    box-shadow: 2px 2px 2px 0.2;
    background-size: contain;
    margin: 1px; 
    width: calc((60vh) / 16) !important;
    height: calc((60vh ) / 16) !important;
    span {
        padding-left: 15%;
    }

    sub {
        padding-left: 8%;
        padding-top: 30%;
    }
}