<mat-toolbar class="headerbar">
    <a [routerLink]="['/']">
        <img src="assets/img/logoWhite.png" width="340" height="85" alt="Logo Scrabble" />
    </a>
    <span class="fill"></span>
    <div>
        <app-theme-selector></app-theme-selector>
    </div>
    <div class="account" (click)="navigateToAccount()">
        <app-avatar [src]="user.avatar" [size]="50"></app-avatar>
        <span>Mon compte</span>
    </div>
    <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
