<mat-card>
    <h2>Avatars</h2>
    <mat-card-content>
        <mat-selection-list #avatar [multiple]="false" (selectionChange)="updateAvatar($event)">
            <mat-list-option *ngFor="let avatar of avatarDefault" [value]="avatar.name" [disabled]="!isUnlocked(avatar.unlockLevel)">
                <img matListAvatar *ngIf="isUnlocked(avatar.unlockLevel)" [src]="avatar.src" alt="avatar" width="30" height="30" />
                <div class="levelLock" *ngIf="!isUnlocked(avatar.unlockLevel)">
                    <img class="levelLockImage" matListAvatar *ngIf="!isUnlocked(avatar.unlockLevel)" [src]="avatar.src" alt="avatar" />
                    <span class="levelLockText"><mat-icon class="levelLockIcon">lock</mat-icon>Niveau: {{ avatar.unlockLevel }}</span>
                </div>
            </mat-list-option>
            <ng-container *ngIf="canSeeLocked()">
                <mat-list-option *ngFor="let avatar of avatarAdd" [value]="avatar.name" [disabled]="!isUnlocked(avatar.unlockLevel)">
                    <img matListAvatar *ngIf="isUnlocked(avatar.unlockLevel)" [src]="avatar.src" alt="avatar" width="30" height="30" />
                    <div class="levelLock" *ngIf="!isUnlocked(avatar.unlockLevel)">
                        <img class="levelLockImage" matListAvatar *ngIf="!isUnlocked(avatar.unlockLevel)" [src]="avatar.src" alt="avatar" />
                        <span class="levelLockText"><mat-icon class="levelLockIcon">lock</mat-icon>Niveau: {{ avatar.unlockLevel }}</span>
                    </div>
                </mat-list-option>
            </ng-container>
            <mat-list-option *ngIf="hasClear" value="">
                <mat-icon class="blockIcon">block</mat-icon>
            </mat-list-option>
        </mat-selection-list>
    </mat-card-content>
    <mat-card-footer> </mat-card-footer>
</mat-card>
