mat-card {
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: fit-content;
    mat-card-content {
        p {
            margin-top: 3%;
        }
    }
    .mat-divider-horizontal {
        position: unset;
        left: 0;
        padding-bottom: 4%;
    }
}

.container {
    width : 80vw;
    padding-left: 5%;
}

h1 {
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: xx-large;
    font-weight: 600;
    justify-content: start;
}

table {
    width: 100%;
}

.table-container {
    display: flex;
    justify-content: center;
    height: 325px;
    width: 510px;
    overflow-y: auto;
}

.mat-header-cell {
    font-size: 16px !important;
    padding: 2%;
    padding-left: 3%;
    border-bottom: 2px solid !important;
}

.mat-cell {
    padding: 2%;
    padding-left: 3%;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
    background-color: var(--primary);
    color: var(--bg);
}

mat-paginator {
    margin-top: 5%;
}

@keyframes rotate {
   0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading {
    animation: rotate 1s linear infinite
}

.hidden {
    visibility: hidden;
}