.message {
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    padding-right: 1%;
}

.message-header {
    display: flex;
    padding-bottom: 5px;
    justify-content: center;
}

.message-bubble {
    display: flex;
}

.system {
    .message-content {
        background-color: var(--MessageHeader);
    }

    align-self: flex-start;
}

.fromMe {
    .message-content {
        background-color: var(--primary);
    }
    align-self: flex-end;
}

.fromOther {
    .message-content {
        background-color: var(--accent);
    }

    align-self: flex-start;
}

.message-content {
    border-radius: 25px;
    margin-bottom: 1.5vh;
    padding: 1.25vh 1.5vw;
}

.empty-space {
    flex-grow: 1;
    min-width: 20%;
}

.message-header {
    color: var(--MessageHeader);
}
