div {
    display: flex;
    justify-content: center;
    flex: 1;
}

app-game-action-button {
    max-width: 180px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    white-space: pre-wrap;
    flex: 1;

    > ::ng-deep button:disabled {
        cursor: not-allowed;
    }
}
