<h2>Nouvelle Partie Multijoueurs</h2>
<mat-dialog-content [formGroup]="onlineGameSettingsUIForm">
    <br />
    <br />
    <mat-checkbox color="accent" formControlName="privateGame">Partie privé</mat-checkbox>
    <br />
    <br />
    <mat-checkbox color="accent" formControlName="randomBonus">Bonus aléatoire</mat-checkbox>
    <br />
    <br />
    <mat-checkbox #CheckPassword color="accent" formControlName="hasPassword">Mot de passe</mat-checkbox>
    <br />
    <mat-form-field *ngIf="CheckPassword.checked">
        <mat-label>Mot de passe</mat-label>
        <input matInput autocomplete="off" placeholder="Mot de passe" formControlName="password" />
    </mat-form-field>
    <br />
    <mat-label>Temps par tour </mat-label>
    <mat-label>{{ timer.value | date: 'm:ss' }} min </mat-label> <br />
    <mat-slider
        #timer
        color="primary"
        [min]="minTimePerTurn"
        [max]="maxTimePerTurn"
        [step]="stepTimePerTurn"
        [formControlName]="'timePerTurn'"
    ></mat-slider
    ><br />
    <mat-label>Nombre de joueurs: {{ numPlayer.value }} </mat-label> <br />
    <mat-slider #numPlayer color="primary" [min]="minNumberOfPlayers" [max]="maxNumberOfPlayers" [formControlName]="'numberOfPlayers'"></mat-slider>
    <br />
    <mat-form-field appearance="fill">
        <mat-label>Choisir une difficulté pour les joueurs virtuels</mat-label>
        <mat-select formControlName="botDifficulty">
            <mat-option matInput value="Facile"> Facile</mat-option>
            <mat-option matInput value="Expert"> Expert</mat-option>
        </mat-select>
    </mat-form-field>
    <div *ngIf="isMagicGame">
        <mat-label>Cartes de pouvoir disponibles:</mat-label>
        <div *ngFor="let value of availableMagicCards">
            <mat-checkbox (change)="onCheckChange($event, value)">{{ value.name }} </mat-checkbox>
            <br />
        </div>
    </div>
</mat-dialog-content>
<br />
<mat-dialog-actions>
    <button mat-button color="accent" (click)="cancel()">Annuler</button>
    <button mat-raised-button color="primary" (click)="playGame()" [disabled]="!formValid">Créer une partie</button>
</mat-dialog-actions>
