<h2>Nouvelle Partie Multijoueurs</h2>
<mat-dialog-content [formGroup]="onlineGameSettingsUIForm">
    <mat-checkbox color="accent" formControlName="randomBonus">Bonus aléatoire</mat-checkbox>
    <br />
    <br />
    <mat-label>Temps par tour </mat-label>
    <mat-label>{{ timer.value | date: 'm:ss' }} min </mat-label> <br />
    <mat-slider
        #timer
        color="primary"
        [min]="minTimePerTurn"
        [max]="maxTimePerTurn"
        [step]="stepTimePerTurn"
        [formControlName]="'timePerTurn'"
    ></mat-slider
    ><br />
    <mat-label>Nombre de joueurs: </mat-label>
    <mat-label>{{ numPlayer.value }} </mat-label> <br />
    <mat-slider #numPlayer color="primary" [min]="minNumberOfPlayers" [max]="maxNumberOfPlayers" [formControlName]="'numberOfPlayers'"></mat-slider>
    <br />
</mat-dialog-content>
<br />
<mat-dialog-actions>
    <button mat-button color="accent" (click)="cancel()">Annuler</button>
    <button mat-raised-button color="primary" (click)="playGame()" [disabled]="!formValid">Créer une partie</button>
</mat-dialog-actions>
